params {
  traits_gcta_greml_1 {
    analysis_mode = "heritability"
    outdir = "results/"
    maf_cutoff = 0.01
    grm_cutoff = 0.05
    }
}


process {
  withName: gcta_calculate_grm {
    container = "quay.io/lifebitai/traits:1.0.0"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}
process {
  withName: gcta_greml_h2 {
    container = "quay.io/lifebitai/traits:1.0.0"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}
process {
  withName: gcta_greml_gc {
    container = "quay.io/lifebitai/traits:1.0.0"
    // Resources
    cpus = 2
    memory = "2.GB"
    disk = "30.GB"
    
    // Error handling
    errorStrategy = "retry"
    maxRetries = "3"
    // Results
  }
}

